<!-- templates/registration/login.html -->
{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load socialaccount %}

<p><br><br></p>

{% block title %}Log In{% endblock title %}

{%  block content %}
  <h2>Log In</h2>
  <form method="post">
      {%  csrf_token %}
      {{  form|crispy }}
      <button class="btn btn-success" type="submit">Log In</button>
  </form>
    <a href="{% url 'social:begin' 'github' %}" class="btn btn-link btn-lg active btn-block">Sign in with GitHub</a>
{%  endblock content %}