{% extends "_base.html" %}
{% block content %}
{% block title %}A few things about me.{% endblock title %}


    <p>Hi my name is Will, and this is my website that I created to learn more about the Django</p>
    <p>framework.  I currently work as a network engineer in the Los Angeles area, and am always</p>
    <p> looking to expand my knowledge about networking, python, and the tech world in general.</p>
    <p>I created this site to review and showcase some of my favorite books that I have read in</p>
    <p>the past few years as well as play around with some of Django's cool features.  Please</p>
    <p>look around as well as check out my linkedIn profile and GitHub linked below.</p>
{% endblock content %}