{% extends "_base.html" %}
{% block content %}
{% block title %}About this Site{% endblock title %}
    <p><br></p>
    <p>My name is Will, and this is the site that I created to learn about the Django framework.</p>
    <p>I currently work and reside in the Los Angeles area as a Network engineer, and am always</p>
    <p>looking to further my knowledge about Networking, Python and Tech in general.</p>
    <p>This site was built using the Django framework and is currently running on Heroku in a</p>
    <p>docker container.  I used William Vincents "Django for Professionals" as a basis for</p>
    <p>this site, and from that created additional features and changed others.  This Site</p>
    <p>has a collection of books and reviews that I have created, to view these you can</p>
    <p>create an account either by creating a username and password, or by using Github OAuth.</p>
    <p>I have also created an IP page where I integrated Google's Maps API as well as a </p>
    <p>geolocation service API to show you a map of where your IP originates.  If you would</p>
    <p>like to see the source code for this project please visit my Github, or if you'd like </p>
    <p>to see my LinkedIn also see below.</p>
    <p><br></p>
    <p>Cheers, <br> Will <br></p>

    <a href="https://github.com/BartlebyTS/">Visit Github</a>
    <p><br></p>
    <a href="https://www.linkedin.com/in/williamrjohnson1/">Visit LinkedIn</a>

{% endblock content %}